<div id="article_wrap">

  <%= form_for(@article) do |f| %>
  タイトル<br>
  <%= text_area :article, :title %><br><br>
  記事内容<br>
  <%= text_area :article, :content %><br>
  <br>
  <%=button_tag "Update Article" %>

  <% end %>

</div>
